@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import"../style/variables.css";

@custom-variant dark (&:is(.dark *));


.input {
  @apply w-full px-10  rounded-md bg-[#2c2c2c] text-white placeholder:text-[#bbb] border border-[#444] focus:outline-none focus:ring-2 focus:ring-red-600 text-lg h-11 placeholder:text-[16px]
}



@layer base {
  html {
    font-family: var(--font-sans);
    color: white;
    background-color: var(--color-bg-primary);
    scroll-behavior: smooth;
  }
}

@layer utilities {

  /* ================= BACKGROUND ================= */
  .ds-bg-primary {
    background-color: var(--color-bg-primary);
  }

  .ds-bg-alt {
    background-color: var(--color-bg-alt);
  }

  .ds-bg-form {
    background-color: var(--color-bg-form);
  }

  /* ================= COLORS ================= */
  .ds-text-primary {
    color: var(--color-text-primary);
  }

  .ds-text-alt {
    color: var(--color-text-alt);
  }

  .ds-text-secondary {
    color: var(--color-text-secondary);
  }

  .ds-text-base {
    color: var(--color-text-base);
  }

  .ds-text-disabled {
    color: var(--color-text-disabled);
  }

  /* ================= TYPOGRAPHY ================= */
  .ds-text-sm {
    font-size: var(--text-sm);
  }

  .ds-text-base {
    font-size: var(--text-base);
  }

  .ds-text-lg {
    font-size: var(--text-lg);
  }

  .ds-text-xl {
    font-size: var(--text-xl);
  }

  .ds-text-2xl {
    font-size: var(--text-2xl);
  }

  .ds-text-3xl {
    font-size: var(--text-3xl);
  }

  .ds-text-4xl {
    font-size: var(--text-4xl);
  }

  .ds-text-5xl {
    font-size: var(--text-5xl);
  }

  .ds-font-regular {
    font-weight: var(--font-regular);
  }

  .ds-font-bold {
    font-weight: var(--font-bold);
  }

  /* border */
  .ds-border-color {
    border-color: var(--border-color);
  }

  /* hover */
  .ds-nav-hover:hover {
    background-color: var(--hover-color-bg-nav);
    color: var(--hover-color-text-nav);
  }
}


